<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Prediction</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        form {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Emotion Prediction</h1>
    <form method="post" action="{{ url_for('predict') }}">
        <label for="user_input">Enter Text:</label>
        <br>
        <textarea name="user_input" rows="4" cols="50" required></textarea>
        <br>
        <button type="submit">Predict</button>
    </form>
    {% if prediction %}
    <p>Prediction: {{ prediction }}</p>
    {% endif %}
</body>
</html>
